@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/font-awesome/less/font-awesome";
@import "node_modules/selectize/dist/less/selectize.bootstrap3";
@import "node_modules/selectize/dist/less/plugins/remove_button";
@import (css, inline) "node_modules/admin-lte/dist/css/AdminLTE.css";
@import (css, inline) "node_modules/admin-lte/dist/css/skins/_all-skins.css";
@import (css, inline) "node_modules/flatpickr/dist/flatpickr.min.css";
@import "./images";

table [data-href] {
  &:hover, &:hover > * {
    background-color: #555299;
    color: #fff;
  }
  cursor: pointer;
}

.dataTables_filter > label {
  float: right;
}

.selectize-input {
  border: 1px solid #E9E9E9;
}

.form-control.selectize-control {
  height: 31px;
}
